tf_env
tensorflow
.ipynb_checkpoints
**/__pycache__
**/MNIST_data
tensorflow_repository_examples
tensorflow_repository_tutorials
**/test_data.zip
**/test_data_revised/
**/cmg2016_data
**/metaphor_data
**/PRAXIS*
**/logs
